/* Общие настройки */
body {
    background-color: #f4f4f9;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* Убираем подчёркивание ссылок */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: none;
    color: #0056b3;
}

/* Подвал */
footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}